@font-face {
  font-family: "nasalizationregular";
  src: url("fonts/nasalization-free.regular-webfont.woff2") format("woff2"),
    url("fonts/nasalization-free.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "nasalizationregular";
}
.container {
  position: relative;
}
.current-date-block {
  position: absolute;
  top: 50px;
  background-color: transparent;
  color: black;
  font-size: 170%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}
.name {
  position: absolute;
  top: 175px;
  background-color: transparent;
  color: black;
  font-size: 150%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}
.id {
  position: absolute;
  top: 300px;
  background-color: transparent;
  color: black;
  font-size: 150%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}
.neo_reference_id {
  position: absolute;
  top: 400px;
  column-count: auto;
  background-color: transparent;
  color: black;
  font-size: 100%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}
