@import "base.css";

.container {
  position: relative;
}
.current-date-block {
  position: absolute;
  top: 50px;
  background-color: transparent;
  color: black;
  font-size: 170%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}
.name {
  position: absolute;
  top: 175px;
  background-color: transparent;
  color: black;
  font-size: 150%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}
.id {
  position: absolute;
  top: 300px;
  background-color: transparent;
  color: black;
  font-size: 150%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}
.neo_reference_id {
  position: absolute;
  top: 400px;
  column-count: auto;
  background-color: transparent;
  color: black;
  font-size: 100%;
  padding-left: 50px;
  padding-right: 100px;
  text-align: center;
}

body {
  background-image: url("https://images-assets.nasa.gov/image/ACD17-0168-009/ACD17-0168-009~medium.jpg");
  background-size: cover;
  background-color: black;
}
