@import "base.css";
/* responsiveness with % and vw */
.calendar_date
{
  align-items: center;
  text-align: center;
  font-size: 1.04vw;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.container
{
  width: 10%;
  justify-content: center;
  align-items: center;
  margin: 1% auto;
}

.container .asteroidIcon
{
  width: 20%;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.35vw;
  overflow:hidden;
}

.container .asteroidIcon path
{
  fill: transparent;
  stroke-width: 10;
  stroke: #ffa500;
  stroke-dasharray: 1600;
  stroke-dashoffset: 0;
}

.container .asteroidIcon:hover path
{
  animation: animate-asteroid 2s linear forwards;
}

@keyframes animate-asteroid
{
  0%
  {
    stroke-dashoffset: 0;
  }
  40%
  {
    stroke-dashoffset: 1600;
  }
  80%
  {
    stroke-dashoffset: 3200;
    fill: 	#ff4500;
  }
  100%
  {
    stroke-dashoffset: 3200;
    fill: #ffff99;
  }
}

.row div
{
  flex: 50%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.52vw;
}

.asteroidsgif img
{
  display: flex;
  border-radius: 50%;
  border: 0.16vw solid white;
  margin-left: auto;
  margin-right: auto;
  width: 24.5%;
  margin-top: 0.26vw;
  overflow: hidden;
}

ul
{
  list-style-type: upper-roman;
  list-style-position: inside;
  padding-right: 0.26vw;
  background-color: #696969;
  border: 0.11vw solid white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 0.26vw;
}

.calander
{
  width: 10%;
	background: #dcdcdc;
	background: linear-gradient(top, #dcdcdc 0%,#696969 100%);
	background: -moz-linear-gradient(top, #dcdcdc 0%, #696969 100%);
	background: -webkit-linear-gradient(top, #dcdcdc 0%, #696969 100%);
  border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
  -moz-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
  -webkit-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
}

.calander p span
{
    background: #0000ff;
    background: linear-gradient(top, #0000ff 0%, #1f1fff 100%);
    background: -moz-linear-gradient(top, #0000ff 0%, #1f1fff 100%);
	  background: -webkit-linear-gradient(top, #0000ff 0%, #1f1fff 100%);
    font-size: 1.56vw;
    font-weight: bold;
    text-align: center;
    display: block;
	  border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
	  -moz-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
	  -webkit-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
}

.calander span
{
  font-size: 2.08vw;
  margin: 0vw;
  padding: 0vw;
}

.calanderTwo
{
  width: 10%;
	background: #dcdcdc;
	background: linear-gradient(top, #dcdcdc 0%, #696969 100%);
	background: -moz-linear-gradient(top, #dcdcdc 0%, #696969 100%);
	background: -webkit-linear-gradient(top, #dcdcdc 0%, #696969 100%);
  border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
  -moz-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
  -webkit-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
}

.calanderTwo p span
{
    background: #0000ff;
    background: linear-gradient(top, #0000ff 0%, #1f1fff 100%);
    background: -moz-linear-gradient(top, #0000ff 0%, #1f1fff 100%);
	  background: -webkit-linear-gradient(top, #0000ff 0%, #1f1fff 100%);
    font-size: 1.56vw;
    font-weight: bold;
    text-align: center;
    display: block;
    border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
	  -moz-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
	  -webkit-border-radius: 0.26vw 0.26vw 0.26vw 0.26vw;
}

.calanderTwo span
{
  font-size: 2.08vw;
  margin: 0vw;
  padding: 0vw;
}

body
{
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/asteroid20161103-16_3.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  text-align: center;
}