@font-face {
    font-family: 'nasalizationregular';
    src: url('fonts/nasalization-free.regular-webfont.woff2') format('woff2'),
    url('fonts/nasalization-free.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'nasalizationregular';
    background-color: black;
    color: #FFFFFF;
    line-height: normal;
}

h1 {
  color: white;
}

h2 {
  color: #1058cc;
}

.red{
  color: red;
}

.blue {
  color: #1058cc;
}
  /* Mobile Responsive setup  */
  @media (max-width: 768px){
    .height1{
padding-top: 100px;
    }
.height2{
  padding-top: 100px;
}
.page-header{
  padding-top: 100px;
}
.about-us height2{
  padding-top: 100px;
}
  }