@font-face {
    font-family: 'nasalizationregular';
    src: url('fonts/nasalization-free.regular-webfont.woff2') format('woff2'),
    url('fonts/nasalization-free.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}

body {
    font-family: 'nasalizationregular';
    background-color: black;
    color: #FFFFFF;
    line-height: normal;
}
