body {
  color: white;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

h2 {
  color: red;
}

h1 {
  color: #1058cc;
}
