body {
  color: white;
  background-color: black;
  text-align: center;
}

h2 {
  color: red;
}

h1 {
  color: #1058cc;
}

@media (max-width: 858px){
.height2{
  padding-top: 25%;
}
.height1{
  padding-top: 10%;
}
}