@import "base.css";
table {
    border-spacing: 30px 0px;
}
td {
    padding: 4px;
}
.page-header {
    position: absolute;
    top: 50px;
    color: white;
    font-size: 20px;
    padding-left: 780px;
    text-align: center;
}
.current-date-block {
    position: absolute;
    top: 300px;
    background-color: transparent;
    color: white;
    font-size: 200%;
    padding-left: 60px;
    text-align: center;
}
.weather {
    position: absolute;
    top: 455px;
    background-color: transparent;
    color: white;
    font-size: 180%;
    padding-left: 60px;
    text-align: left;
}
.sol-table-body {
    position: absolute;
    top: 775px;
    background-color: transparent;
    color: white;
    padding-left: 0px;
    text-align: center;
}
.sol-table-body-row {
    /*position: relative;*/
    color: white;
    font-size: 120%;
    /*margin: 100px;*/
    background:rgba(1,1,1,0.5);
}
body {
  /*sets the background to the image*/
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/pia23492.jpg");
    background-color: black;
}
