@font-face {
    font-family: 'nasalizationregular';
    src: url('fonts/nasalization-free.regular-webfont.woff2') format('woff2'),
    url('fonts/nasalization-free.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'nasalizationregular';
}
.container {
    position: relative;
}
.current-date-block {
    position: absolute;
    top: 35px;
    background-color: transparent;
    color: white;
    font-size: 170%;
    padding-left: 50px;
    padding-right: 100px;
    text-align: center;
}
.season {
    position: absolute;
    top: 125px;
    background-color: transparent;
    color: white;
    font-size: 150%;
    padding-left: 90px;
    padding-right: 100px;
    text-align: center;
}
.temps {
    position: absolute;
    top: 250px;
    background-color: transparent;
    color: white;
    font-size: 150%;
    padding-left: 50px;
    padding-right: 100px;
    text-align: left;
}
.sol-table-body {
    position: absolute;
    top: 400px;
    background-color: transparent;
    color: white;
    font-size: 100%;
    padding-left: 15px;
    padding-right: 100px;
    text-align: center;
    /*border-spacing: 10px;*/
}
.sol-table-body-row {
    width: 150px;
    color: white;
    font-size: 80%;
    background:rgba(1,1,1,0.5);
    /*background-color: transparent;*/
    /*opacity: 0.50;*/
}

/*.sol-row {*/
/*    position: absolute;*/
/*    top: 420px;*/
/*    background-color: transparent;*/
/*    color: white;*/
/*    font-size: 100%;*/
/*    padding-left: 50px;*/
/*    padding-right: 100px;*/
/*    text-align: center;*/
/*}*/

/*.temp_high {*/
/*    position: absolute;*/
/*    top: 300px;*/
/*    background-color: transparent;*/
/*    color: white;*/
/*    font-size: 150%;*/
/*    padding-left: 50px;*/
/*    padding-right: 100px;*/
/*    text-align: center;*/
/*}*/
/*.temp_low {*/
/*    position: absolute;*/
/*    top: 325px;*/
/*    background-color: transparent;*/
/*    color: white;*/
/*    font-size: 150%;*/
/*    padding-left: 50px;*/
/*    padding-right: 100px;*/
/*    text-align: center;*/
/*}*/