@import "base.css";
/* responsiveness with % and vw */
/*NAV BAR*/
<link rel="stylesheet" href="assets/CSS/base.css">

/* blue background */
.topnav
{
  background-color: blue;
  overflow: auto;
  width: 100%;
}


/* *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
} */
/* Style the links inside the navigation bar */
.topnav a
{
   float: left;
   color: white;
   background-color: blue;
   display: block;
   border-right: 0.052vw solid white;
   border-left: 0.052vw solid white;
   text-align: center;
   text-decoration: none;
   padding-top:  0.521vw;
   padding-bottom: 0.521vw;
   font-size: 0.84vw;
   width: 19.4%;
   /* position: fixed; */
}

nav ul li{
  display: block;
}


/*
ul li {
  margin-left: 9%;
  display:inline-block !important;
  padding: 10 16px;
  text-align: center;

}*/

/* Change the color of links on hover */
.topnav a:hover
{
  background-color: red;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active
{
  background-color: #4CAF50;
  color: red;
}
.galaxy
{
     display: inline-block;
     vertical-align: top;
     width: 2.60vw;
     height: 2.60vw;
     float:left;
}

toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white !important;
  border-radius: 10px;
}


.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  padding-top: 3%;
  cursor: pointer;
  display: none;
  margin-top: 3%;
}
#check{
  display: none;
}

@media (max-width: 952px){

  .topnav a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav{
    background: blue;
    height: 80px;
    width: 100%;
    position: fixed;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .topnav a{
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    float: left;
   /* color: white; */
   background-color: blue;
   display: contents;
   border-right: 0vw solid white;
   border-left: 0vw solid white;
   text-align: none;
   text-decoration: none;
   padding-top:  0vw;
   padding-bottom: 0vw;
   /* font-size: 0.84vw; */
   width: 19.8%;

  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
}
