/*NAV BAR*/
<link rel="stylesheet" href="assets/CSS/base.css">

/* Add a black background color to the top navigation */
.topnav {
  background-color: blue;
  overflow: auto;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a  {
   float: left;
   color: white;
   background-color: blue;
   display: block;
   text-align: center;
   text-decoration: none;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 16px;
   width: 20%;
}
/*
ul li {
  margin-left: 9%;
  display:inline-block !important;
  padding: 10 16px;
  text-align: center;

}*/

/* Change the color of links on hover */
.topnav a:hover {
  background-color: red;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: red;
}
.galaxy {
     display: inline-block;
     vertical-align: top;
     width: 50px;
     height: 50px;
     float:left;
}
