@import "base.css";


body {
  color: white;
  background-color: black;
  text-align: center;
}

.input_fields {
  margin: auto;
}

input {
  color: white;
  background-color: black;
  font-family: 'nasalizationregular';
}

.rounded {
  border-radius: 25px;
  width: 200px;
  outline: none;
}

.search_bar {
  margin: 0.5%;
  width: 50%;
  height: 15%;
  padding: 1%;
  border: 0.5px solid red;
  color: white;
}

.submit {
  margin: 0.5%;
  padding: 1%;
  font-family: 'nasalizationregular';
  color: white;
  background-color: black;
  border: 0.5px solid blue;
  width: 30%;
}

.show_dates {
  margin: 0.5%;
  padding: 5px;
  font-family: 'nasalizationregular';
  color: white;
  background-color: black;
  border: 0.5px solid white;
  width: 15%;
  height: 15%;
}

.year_entries {
  width: 100%;
}

.year_input {
  margin: 1%;
  padding: 0.5%;
  font-family: 'nasalizationregular';
  color: white;
  background-color: black;
  border: 0.5px solid white;
  width: 15%;
  height: 15%;
}

/* Style the Image Used to Trigger the Modal */
#modal-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 50%;
}

#modal-img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-description {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-title {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 10px 0;
  height: 50px;
}

/* Add Animation - Zoom in the Modal */
.modal-description,
#modal-title {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  right: 5%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#grid-container {
   /* Prevent vertical gaps */
   line-height: 0;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   column-count:         5;
   column-gap:           0px;
}

#grid-container img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #grid-container {
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #grid-container {
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 400px) {
  #grid-container {
  -webkit-column-count: 1;
  column-count:         1;
  }
.wrapper{
width: 100% !important;
}
 .show_dates {
    font-size: 14px !important;
    margin: 0.5%;
    padding: 5px;
    font-family: 'nasalizationregular';
    color: white;
    background-color: black;
    border: 0.5px solid white;
    width: 15%;
    height: 15%;
    width: 50% !important;
}
}

}
